Repository EricLBuehler/mistral.rs, pull requests merged in 2024-07, with the labels that each got.

#476 AnyMoE: Build an MoE model from anything, quickly
  Cargo.lock
  README.md
  docs/ANYMOE.md
  docs/TOML_SELECTOR.md
  examples/amoe.csv
  examples/python/anymoe.py
  examples/python/anymoe_lora.py
  mistralrs-core/Cargo.toml
  mistralrs-core/src/amoe/inputs.rs
  mistralrs-core/src/amoe/macros.rs
  mistralrs-core/src/amoe/mod.rs
  mistralrs-core/src/engine/mod.rs
  mistralrs-core/src/layers.rs
  mistralrs-core/src/lib.rs
  mistralrs-core/src/models/gemma.rs
  mistralrs-core/src/models/gemma2.rs
  mistralrs-core/src/models/llama.rs
  mistralrs-core/src/models/mistral.rs
  mistralrs-core/src/models/mixtral.rs
  mistralrs-core/src/models/phi2.rs
  mistralrs-core/src/models/phi3.rs
  mistralrs-core/src/models/quantized_llama.rs
  mistralrs-core/src/models/quantized_phi2.rs
  mistralrs-core/src/models/quantized_phi3.rs
  mistralrs-core/src/models/qwen2.rs
  mistralrs-core/src/ops.rs
  mistralrs-core/src/pipeline/amoe.rs
  mistralrs-core/src/pipeline/ggml.rs
  mistralrs-core/src/pipeline/gguf.rs
  mistralrs-core/src/pipeline/macros.rs
  mistralrs-core/src/pipeline/mod.rs
  mistralrs-core/src/pipeline/normal.rs
  mistralrs-core/src/pipeline/processing.rs
  mistralrs-core/src/pipeline/sampling_pipeline.rs
  mistralrs-core/src/pipeline/speculative.rs
  mistralrs-core/src/pipeline/vision.rs
  mistralrs-core/src/toml_selector.rs
  mistralrs-core/src/utils/model_config.rs
  mistralrs-core/src/utils/progress.rs
  mistralrs-core/src/utils/varbuilder_utils.rs
  mistralrs-core/src/vision_models/phi3.rs
  mistralrs-core/src/xlora_models/gemma.rs
  mistralrs-core/src/xlora_models/gemma2.rs
  mistralrs-core/src/xlora_models/llama.rs
  mistralrs-core/src/xlora_models/mistral.rs
  mistralrs-core/src/xlora_models/mixtral.rs
  mistralrs-core/src/xlora_models/phi2.rs
  mistralrs-core/src/xlora_models/phi3.rs
  mistralrs-core/src/xlora_models/quantized_llama.rs
  mistralrs-core/src/xlora_models/quantized_phi3.rs
  mistralrs-pyo3/mistralrs.pyi
  mistralrs-pyo3/src/anymoe.rs
  mistralrs-pyo3/src/lib.rs
  mistralrs/Cargo.toml
  mistralrs/examples/anymoe/main.rs
  mistralrs/examples/anymoe_lora/main.rs
  toml-selectors/anymoe.toml
  toml-selectors/anymoe_lora.toml
Labels: new feature

#480 release using cargo-dist
  .github/workflows/release.yml
  Cargo.toml
  mistralrs-bench/Cargo.toml
Labels: new feature

#484 Add LLaVA Support
  README.md
  chat_templates/vicuna.json
  docs/LLaVA.md
  docs/VISION_MODELS.md
  examples/python/llava_next.py
  examples/server/llava.py
  examples/server/llava_next.py
  mistralrs-core/src/layers.rs
  mistralrs-core/src/lib.rs
  mistralrs-core/src/pipeline/mod.rs
  mistralrs-core/src/pipeline/normal_loaders.rs
  mistralrs-core/src/pipeline/vision.rs
  mistralrs-core/src/pipeline/vision_loaders.rs
  mistralrs-core/src/sampler.rs
  mistralrs-core/src/vision_models/llava/config.rs
  mistralrs-core/src/vision_models/llava/llava15.rs
  mistralrs-core/src/vision_models/llava/llava_inputs_processor.rs
  mistralrs-core/src/vision_models/llava/llava_llm/llama.rs
  mistralrs-core/src/vision_models/llava/llava_llm/mistral.rs
  mistralrs-core/src/vision_models/llava/llava_llm/mod.rs
  mistralrs-core/src/vision_models/llava/llava_next.rs
  mistralrs-core/src/vision_models/llava/llava_next_inputs_processor.rs
  mistralrs-core/src/vision_models/llava/mod.rs
  mistralrs-core/src/vision_models/llava/utils.rs
  mistralrs-core/src/vision_models/mod.rs
  mistralrs-core/src/vision_models/preprocessor_config.rs
  mistralrs-pyo3/API.md
  mistralrs-pyo3/mistralrs.pyi
  mistralrs-pyo3/src/lib.rs
  mistralrs-pyo3/src/which.rs
  mistralrs-server/src/main.rs
  mistralrs/Cargo.toml
  mistralrs/examples/llava/main.rs
  mistralrs/examples/llava_next/main.rs
Labels: new feature, models

#554 Fix SWA order (flip it) for Gemma 2
  mistralrs-core/src/models/gemma2.rs
  mistralrs-core/src/xlora_models/gemma2.rs
Labels: models, fix

#561 Add the starcoder2 GGUF arch
  README.md
  mistralrs-core/src/models/mod.rs
  mistralrs-core/src/models/quantized_starcoder2.rs
  mistralrs-core/src/pipeline/gguf.rs
  mistralrs-core/src/utils/model_config.rs
Labels: models

#527 [Breaking] Version 0.2.0
  .typos.toml
  Cargo.lock
  Cargo.toml
  docs/ANYMOE.md
  docs/GEMMA2.md
  docs/IDEFICS2.md
  docs/ISQ.md
  docs/LLaVA.md
  docs/NON_GRANULAR.md
  docs/PAGED_ATTENTION.md
  docs/PHI3V.md
  examples/python/anymoe.py
  examples/python/anymoe_inference.py
  examples/python/anymoe_lora.py
  examples/python/cookbook.ipynb
  examples/python/gguf.py
  examples/python/idefics2.py
  examples/python/llava_next.py
  examples/python/lora_activation.py
  examples/python/lora_zephyr.py
  examples/python/paged_attention.py
  examples/python/phi3v.py
  examples/python/phi3v_base64.py
  examples/python/phi3v_local_img.py
  examples/python/plain.py
  examples/python/speculative.py
  examples/python/speculative_xlora.py
  examples/python/streaming.py
  examples/python/token_source.py
  examples/python/xlora_gemma.py
  examples/python/xlora_zephyr.py
  examples/server/phi3_duckduckgo_mistral.rs.ipynb
  mistralrs-bench/src/main.rs
  mistralrs-core/Cargo.toml
  mistralrs-core/src/device_map.rs
  mistralrs-core/src/pipeline/isq.rs
  mistralrs-core/src/pipeline/normal_loaders.rs
  mistralrs-core/src/pipeline/vision_loaders.rs
  mistralrs-pyo3/API.md
  mistralrs-pyo3/Cargo.toml
  mistralrs-pyo3/Cargo_template.toml
  mistralrs-pyo3/README.md
  mistralrs-pyo3/mistralrs.pyi
  mistralrs-pyo3/src/lib.rs
  mistralrs-pyo3/src/which.rs
  mistralrs-server/src/main.rs
Labels: documentation, new feature, breaking
